:root {
  --colourBG: rgba(0, 0, 0, 0.733);
  --colourBright: purple;
  --colourBoarder: rgb(220, 217, 248);
  --ColourHighlight: rgb(85, 248, 9);
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 10px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: var(--colourBG);
  color: var(--colourBright);
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display:flex;
  height: 80px;
  width: 100%;
  margin: 0;
  text-align:center;
}

p {
  margin: 0;
  text-align: center;
}
