:root {
  --colourBG: rgba(0, 0, 0, 0.733);
  --colourBright: purple;
  --colourBoarder: rgb(220, 217, 248);
  --colourHighlight: rgb(85, 248, 9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  flex-direction: column; */
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: black;
}

header {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  height: 100px;
  width: 100%;
  /* background-color: var(--colourBG); */
  color: var(--colourBright);
  background-image: url("../images/02-hero-bg.jpg");
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15 px;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.869);
}

.nav  a {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: var(--colourBoarder);
}

.about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* height: 150px;
  order: 1; */
}

.about,
h1,
h2 {
  font-size: xx-large;
}

li {
  display: flex;
  color: var(--colourBG);
  font-size:large;
  flex-wrap: wrap;
}

img {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 0;
}

.content-grid {
  margin: 0px 0%;
  display: grid;
  justify-content: center;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "item2 item3"
  "item4 item5";
}

/* .item1 p {
  display: flex;
  position: relative;
  text-align: center;
  color: rgb(12, 12, 12);
} */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: var(--colourHighlight);
}

.bottom-left {
  position: absolute;
  font-size: large;
  padding: 10px;
  bottom: 8px;
  left: 16px;
  background-color: var(--colourHighlight);
}


.item1 {
  position: relative;
  border-style:solid;
  border-color: var(--colourHighlight);
  border-width: 5px;
  /* position: relative; */
  /* margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem; */
  background-color: var(--colourBG);
  color: var(--colourBoarder);
  /* border: 2px solid var(--gin); */
  /* border-radius: 8px; */
  transition: all 0.5s ease-in-out;
}

item1:hover {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.item1 img {
  display: flex;
  flex-direction: row;
  color: var(--colourBG);
  width: 100%;
  height: 250px;

  /* justify-content: flex-start; */
  /* background-image: url("../images/02-portfolio-1.jpg"); */
  /* outline: 2px var(--colourBoarder);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out; */
}

.item2 {
  display: flex;
  /* flex-direction: row; */
  background-image: url("../images/02-portfolio-2.jpg");
  /* text-decoration: none; */
}

.item3 {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  background-image: url("../images/02-portfolio-3.jpg");
}

.item4 {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
  background-image: url("../images/02-portfolio-4.jpg");
}

.item5 {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  background-image: url("../images/02-run-buddy.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display:flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin: 0;
  text-align:center;
}

p {
  margin: 0;
  text-align: center;
}

/* .contact {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items:center ;
}
*/
.contact h3 {
  height: 30px;
  display: flex;
  /* flex-direction: column;
  align-items:space-around ; */
  color: purple;
  font-weight: bolder;
}
/*
.contact p {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--colourBoarder);
  height: 100px;
  align-items: center;
  /* justify-content: center; */
}

.medias {
  display: flex;
  flex-direction: row;
  /* text-align: left; */
  justify-content: space-evenly;
  /* align-items: flex-end; */
  width: 100%;
  text-decoration: none; 
}

.footer .fb {
  color: greenyellow;
}

.footer .tw {
  color: greenyellow;
}

.footer .ig {
  color: greenyellow;
}




/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow *//*
  .content-grid {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow *//*
  .contact {
    flex-grow: 1;
  }
}

/* media query for larger screens *//*
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .content-grid {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
} 
*/