:root {
  --colourBG: rgba(0, 0, 0, 0.733);
  --colourBright: purple;
  --colourBoarder: rgb(220, 217, 248);
  --colourHighlight: rgb(85, 248, 9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  color: var(--colourBright);
  background-image: url("../images/02-hero-bg.jpg");
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15 px;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.869);
}

.nav a {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: var(--colourBoarder);
}

.about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

about h1 {
  font-size: x-large;
}

li {
  display: flex;
  color: var(--colourBG);
  font-size: large;
}

.about img {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 0;
}

.content-grid {
  margin: 0px 0%;
  display: grid;
  justify-content: center;
  font-weight: bold;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "item2 item3"
    "item4 item5";
}

.top-left {
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 16px;
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

.bottom-left {
  font-weight: bold;
  position: absolute;
  bottom: 60px;
  left: 16px;
  font-size: large;
  font-weight: bold;
  padding: 5px;
}


.item1 {
  position: relative;
  border: 2px solid var(--colourBG);
  background-color: var(--colourBG);
  color: var(--colourBoarder);
  transition: all 0.5s ease-in-out;
}

item1:hover {
  border-color: blue;
}

.item1 img {
  display: flex;
  flex-direction: row;
  color: var(--colourBG);
  width: 100%;
  height: 250px;
  font-weight: bold;
}

.item2 {
  display: flex;
  position: relative;
  color: var(--colourBG);
  border: 2px solid var(--colourBG);
  font-weight: bold;
}

.item2 img {
  display: flex;
  color: var(--colourBG);
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.item3 {
  display: flex;
  border: 2px solid var(--colourBG);
  /* flex-direction: row; */
  justify-content: flex-end;
  background-image: url("../images/02-portfolio-3.jpg");
}

.item4 {
  display: flex;
  border: 2px solid var(--colourBG);
  /* flex-direction: row; */
  justify-content: flex-start;
  background-image: url("../images/02-portfolio-4.jpg");
}

.item5 {
  display: flex;
  border: 2px solid var(--colourBG);
  /* flex-direction: row; */
  justify-content: flex-end;
  background-image: url("../images/02-run-buddy.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

.contact h3 {
  height: 30px;
  display: flex;
  color: var(--colourBoarder);
  font-weight: bolder;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--colourBoarder);
  height: 100px;
  align-items: center;
}

.medias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: none;
}

.footer .ln {
  color: greenyellow;
}

.footer .bs {
  color: greenyellow;
}

.footer .ig {
  color: greenyellow;
  background-position-x: center;
}




/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
/*
  .content-grid {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
/*
  .contact {
    flex-grow: 1;
  }
}

/* media query for larger screens */
/*
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .content-grid {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
} 
*/